:is(.menu-spacer, .spacer) {
    flex: 1 1 auto;
}

.mat-sidenav {
    width: 175px;
}

.mat-toolbar {
    min-height: 50px !important;
    height: 66px !important;
    background-color: #34b2b2;
}

.mat-toolbar-row {
    min-height: 50px !important;
    height: 100% !important;
} 

.sidenav {
    display: flex;
    flex-direction: column;
}

.title {
    color: rgba(249, 243, 243, 0.85);
    text-shadow: 0.1px 0px #d6cdcd;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
    margin-left: 15px;
    padding-top: 1px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:is(.side-menu p,.menu-options a) {
    color: rgba(249, 243, 243, 0.85);
    font-weight: 550;
    font-size: 18px;
    line-height: 1.4;
    margin-left: 15px;
    padding-top: 1px;
    text-shadow: 0.1px 0px #d6cdcd;
}

a{
    height: 35px;
    color: rgba(43, 36, 36, 0.85);
    font-weight: 550;
    font-size: 18px;
    line-height: 1.4;
    margin-left: 15px;
    padding-top: 1px;
    text-shadow: 0.1px 0px #6a6767;
    text-align: center;
    
}


.selected{
    background-color: rgba(11, 60, 60, 0.396);
    color: rgb(196, 216, 216);
    text-decoration: solid;
    text-align: center;
    padding-top: 5px;
}


// top - nav bar


// main content
body {
    height: 100%;
}

.content {
    height: calc(100vh - 66px);
    background-color: rgba(238, 238, 238, 0.884);

    max-height: max-content;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    .history-table{
        display: flex;
        height: 90%;
        overflow: auto;
        width: 100%;
        flex-direction: column;
        table{
            
            margin-left: 5%;
            
            overflow-y: auto;
        }
    }
    .paginator{
        margin-bottom: 20px !important;
    }

}

// main - content

// overall-heading

.heading {
    text-shadow: 0.1px 0px rgb(187, 184, 184);
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 25px;
    line-height: 1.4;
    font-size: x-large;
    font-weight: 530;
}

// overall-heading

.filter {
    width: 35vh;
}

.mat-paginator {
    padding-top: 0;
    margin: 5px 5% 0 5%;
}

.paginator {
    background-color: #d1d6d6;
}

.mat-header-cell {
    position: sticky;
    color: #121313;
    text-emphasis: bold;
    text-shadow: #34b2b2;
    text-transform: capitalize;
}

.main-heading {
    height: 45px !important;
    // border: 1px solid blue;
    width: 80%;
    display: flex;
    justify-content: baseline;
    align-items: stretch;
    padding-right: 20%;
    padding-top: 4px;
    padding-left: 10%;
    margin-top: 10px;

}

.request-heading {
    color: rgba(22, 14, 14, 0.85);
    font-weight: 5250;
    font-size: 30px;
    line-height: 1.4;
    margin-left: 15px;
    padding-top: 4px;
    text-shadow: 0.1px 0px #6a6767;

}

th{
    background-color: rgba(1, 9, 1, 0.682);
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    
}

.mat-header-cell {
    color: rgb(233, 233, 233);
    text-shadow: 0.1px 0 rgb(241, 241, 241);
    text-transform: capitalize;
    text-align: center;
}

tr{
    text-align: center;
    font-size: 13px;
    font-weight: 401;
    text-transform: capitalize;

}
tr:nth-child(even) {
    background-color: rgb(215, 221, 222);
}
tr:nth-child(4n-1) {
    background-color: rgba(239, 239, 239, 0.777);
}



.table-heading{
    color: rgb(241, 237, 237);
    font-size: 20px;
    font-weight: 550;
    text-shadow: 0.1px 0 rgb(205, 208, 208);
    text-align: center;
    
}

:is(.mat-column-email,.mat-column-policy) {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-left: 5px; padding-right: 5px;
}

:is(.mat-column-HistoryDate,.mat-column-result) {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: max-content !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-left: 5px; padding-right: 5px;
}


td.mat-cell:last-of-type,th.mat-header-cell:last-of-type{
    padding-right: 10px;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 10px;
}


::ng-deep .mat-sort-header-arrow {
    color: #fff;
}
.mat-sort-header{
    text-align: center;
}



table {
    width: 90%;
}

tr.example-detail-row {
    height: 0;
    
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(208, 208, 208);
    color: rgb(236, 236, 236);
    text-shadow: 0.1px 0 rgb(241, 241, 241);
    

    
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #bababa;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.example-element-diagram {
    min-width: 80px;
    // border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}